server:
  port: 8083


spring:
  #    activiti:
  #        database-schema-update: true
  #        # 自动部署验证设置:true-开启（默认）、false-关闭
  #        check-process-definitions: false
  #        process-definition-location-prefix: classpath:/processes/
  datasource:
    name: mysql_test
    type: com.alibaba.druid.pool.DruidDataSource
    #druid相关配置
    druid:
      #监控统计拦截的filters
      filters: stat
      driver-class-name: com.mysql.jdbc.Driver
      #          driver-class-name:com.mysql.jdbc.Driver
      #基本属性
      url: jdbc:mysql://localhost:3306/neargoos?useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true
      username: root
      # aw
      #          password: admin123
      #          p52s
      password: 123456